# This is the live-electronic patch for the composition 10.2.
#
# We need:
#
#   - microphones
#       - DPA string microphone     for cello
#       - DPA mini microphone       for harp
#       - DPA mini microphone       for tuning forks
#       - another microphone (?)    for percussion/objects
#   - resonating boxes + 3 transducer
#   - midi controler (e.g. midifighter)
#   - laptop, mixing desk, cables, ...
#
# Regarding the input order check 'walkman/configure.toml.j2' & then
# read 'audio_input_list'. This is the input order.
#
{% include "walkman/configure.toml.j2" %}
{% include "walkman/cue.toml.j2" %}
