\documentclass[12pt,a4paper,british]{article}

\renewcommand*\ttdefault{cmvtt}
\renewcommand{\familydefault}{\ttdefault}

\usepackage[OT2,T1]{fontenc}

\renewcommand\labelitemi{---}


\usepackage{graphicx}
\usepackage[
    a4paper,
    bindingoffset=0.5cm,
    left=1cm,
    right=1cm,
    top=1cm,
    bottom=1cm,
    footskip=.25in
]{geometry}

\frenchspacing              % Better looking spacings after periods
\pagestyle{empty}           % No pagenumbers/headers/footers



\begin{document}


% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%               START PAGE
% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\begin{center}
    \vspace*{5cm}

    { \Huge book of the moon }
    
    \vspace{0.2cm}

\end{center}

\newpage

% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%               CONTENT
% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

{% for lunar_phase_name, intonation_image_path in data %}

% \section*{ {{ lunar_phase_name }} }

\begin{center}
    \vspace*{2cm}
    { \Huge {{ lunar_phase_name }} }
\end{center}

\vspace{1cm}

\begin{figure}[h]
    \begin{center}
        \includegraphics[scale=1]{ {{ intonation_image_path }} }
    \end{center}
\end{figure}

\newpage

{% endfor %}


\end{document}
