\documentclass[12pt,a4paper,british,landscape]{article}

\renewcommand*\ttdefault{cmvtt}
\renewcommand{\familydefault}{\ttdefault}

\usepackage[OT2,T1]{fontenc}
\usepackage{multicol}
\renewcommand\labelitemi{---}


\usepackage{graphicx}
\usepackage[
    a4paper,
    bindingoffset=0.5cm,
    left=1cm,
    right=1cm,
    top=1cm,
    bottom=1cm,
    footskip=0.5cm
]{geometry}

\usepackage[leftmargin=0cm]{quoting}


\frenchspacing              % Better looking spacings after periods
\pagestyle{empty}           % No pagenumbers/headers/footers

\usepackage{verse}

\usepackage{alltt}

\setlength\parindent{0pt}


\begin{document}

\begin{center}
\vspace*{4cm}

{ \Huge 10.4 }\\
{ \Large 
for $\geq$ 1 person(s) \& the other\\
\vspace{0.2cm}
levin eric zimmermann
}
        
\vspace{0.2cm}

\end{center}


\newpage

\section*{10.4}

\vspace{1cm}

\begin{minipage}[t]{0.4\textwidth}

\begin{quoting}
instead of positing a nondualistic pot of gold at the end of a rainbow, we could hang out in what feels like dualism.
this hanging out would be a more nondual approach.
% instead of trying to pull the world out of the mud, we could jump down into the mud.
% to emerge from the poisoned chrysalis of the beautiful soul, we admit that we have a choice.
% we choose and accept our own death, and the fact of mortality among species and ecosystems.
% this is the ultimate rationality: holding our mind open for the absolutely unknown that is to come.
% evolution will not be televised.
% one cannot have a video of one's own extinction.
% a warning to deep ecology: if we aestheticize this acceptance, we arrive at fascism, the cult of death.
% instead, ecological criticism must politicize the aesthetic.
% we choose this poisoned ground.
% we will be equal to this senseless actuality.
[\dots]
ecology may be without nature.
but it is not without us.
\end{quoting}
(timothy morton)

\begin{quoting}
paradoxically, the best way to have ecological awareness is to love the world as a person [\dots].
\end{quoting}
(timothy morton)

\begin{quoting}
belief in the existence of other human beings as such is love.
\end{quoting}
(simone weil)

\begin{quoting}

the mind, is not forced to believe in the existence of anything [\dots].
% (subjectivism, absolute idealism, solipsism, scepticism: c.f. the upanishads, the taoists and plato, who, all of them, adopt this philosophical attitude by way of purification).
that is why the only organ of contact with existence is acceptance, love.
that is why beauty and reality are identical [\dots].
% that is why joy and the sense of reality are identical.

\end{quoting}
(simone weil)

\begin{quoting}

love needs reality.
what is more terrible than the discovery that through a bodily appearance we have been loving an imaginary being.
it is much more terrible than death, for death does not prevent the beloved from having lived.
that is the punishment for having fed love on imagination.                                                                            

\end{quoting}
(simone weil)

\end{minipage}\hspace{3cm}
\begin{minipage}[t]{0.3\textwidth}
we are\\
marking\\
the line\\
between us\\
\& what's there\\
the chaotic\\
the irregular\\
the pandemonium\\
by the regular\\
the harmony\\
the pitch
\end{minipage}


\end{document}

