\documentclass[12pt,a4paper,british, landscape]{article}

\renewcommand*\ttdefault{cmvtt}
\renewcommand{\familydefault}{\ttdefault}

\usepackage[OT2,T1]{fontenc}
\usepackage{multicol}
\renewcommand\labelitemi{---}


\usepackage{graphicx}
\usepackage[
    a4paper,
    bindingoffset=0.5cm,
    left=1cm,
    right=1cm,
    top=1cm,
    bottom=1cm,
    footskip=0.5cm
]{geometry}


\frenchspacing              % Better looking spacings after periods
\pagestyle{empty}           % No pagenumbers/headers/footers

\usepackage{verse}

\usepackage{alltt}

\setlength\parindent{0pt}


\begin{document}

\begin{center}
\vspace*{4cm}

{ \Huge 10.2 }\\
{ \Large 
for cello or viola, harp \& percussion\\
\vspace{0.2cm}
levin eric zimmermann
}
        
\vspace{0.2cm}

\end{center}


\newpage


\begin{multicols}{3}

\begin{center}
    { \Huge 10.2 } 
\end{center}

this work is based on a poem by robert lax:

\begin{verse}

\Large

river\\
river\\
river\\

\vspace{0.45cm}

river\\
river\\
river\\

\vspace{0.45cm}

river\\
river\\
river\\

\vspace{0.45cm}

river\\
river\\
river\\

\vspace{0.35cm}

\end{verse}

\vspace{0.5cm}

lax wrote another poem:

\begin{verse}

\Large

life is a river\\
\& we the streams\\
that feed it\\

\vspace{0.35cm}

each stream should\\
empty itself\\
completely\\

\vspace{0.35cm}

into the\\
river \&\\
not hold back\\

\vspace{0.35cm}

our way of talking\\
our way of being\\
is what we have\\
to contribute\\
to the stream\\

\vspace{0.35cm}

why keep it\\
all dammed\\
up\\
?\\

\vspace{0.35cm}

--------\\

\vspace{0.35cm}

who should a slow\\
moving river try to\\
move fast\\

\vspace{0.35cm}

why should a meander\\
ing stre\\
am pretend\\
to be straight?\\

\vspace{0.35cm}

--------\\

\vspace{0.35cm}

the civilizers\\
build high dams\\
but water flows\\
wherever it can\\

\vspace{0.35cm}

--------\\

\vspace{0.35cm}

are you afraid\\
that if you're a\\
cow\\
some mouse will\\
get ahead of you\\

\vspace{0.35cm}

some bright-eyed\\
rodent do you\\
in?\\

\vspace{0.35cm}

fear not\\

\vspace{0.35cm}

(God watches\\
mice \& cows)\\

\vspace{0.35cm}

--------\\

\vspace{0.35cm}

the animal\\
most to fear\\
is man\\


\end{verse}


% Robert Lax
% journal entry
% May 19, 1974
% 
% --from pp. 327-329, Pure Act: The Uncommon Life of Robert Lax
%                                    by Michael N. McGregors


\newpage

\end{multicols}


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


\hspace{3cm}
\begin{minipage}[t]{0.3\textwidth}

\vspace{2cm}

% structure

together:\\

playing page after page\\

starting with any page\\

ending with any page

\vspace{2cm}

cello/viola \& harp:\\

streams in the river\\

playing or not playing entries

\vspace{2cm}

harp scordatura:\\

% \begin{figure}
        \includegraphics[scale=0.87]{ {{ harp_scordatura }}}
% \end{figure}

\vspace{1cm}

cello/viola scordatura:\\

\vspace{2cm}


\end{minipage}
\begin{minipage}[t]{0.3\textwidth}
\vspace{3cm}


percussion:\\

picking a glockenspiel \& 3 toneless sounds.
toneless sounds can be produced by $1\geq$ instrument(s).\\

\vspace{2cm}

untuned percussion\\

a stone on the ground, a large rock in the river, sudden, present

\vspace{2cm}

glockenspiel\\

calm, the river we are a stream of\\

\vspace{2cm}


glockenspiel scordatura:\\

\vspace{2cm}



\end{minipage}

\end{document}

