\documentclass[12pt,british,landscape]{article}

\renewcommand*\ttdefault{cmvtt}
\renewcommand{\familydefault}{\ttdefault}

\usepackage[OT2,T1]{fontenc}
\usepackage{multicol}
\renewcommand\labelitemi{---}


\usepackage{graphicx}
\usepackage[
    paperheight=29.7cm,
    paperwidth=29.7cm,
    bindingoffset=2cm,
    left=3cm,
    right=2cm,
    top=4cm,
    bottom=2cm,
    footskip=0.5cm
]{geometry}

% https://tex.stackexchange.com/questions/36880/insert-a-blank-page-after-current-page
\usepackage{afterpage}

\newcommand\blankpage{
    \null
    \thispagestyle{empty}%
    \addtocounter{page}{-1}%
    \newpage
}


\frenchspacing              % Better looking spacings after periods
\pagestyle{empty}           % No pagenumbers/headers/footers

\usepackage{verse}

\usepackage{alltt}

\usepackage{textcomp}
\newcommand{\textapprox}{\raisebox{0.5ex}{\texttildelow}}

\setlength\parindent{0pt}


\begin{document}

\begin{center}
\vspace*{4.5cm}

{ \Huge 10.3 }\\
{ \Large
for $\geq 1$ person(s)\\
\vspace{0.2cm}
levin eric zimmermann
}

\vspace{4cm}

{ \small
    sappho (\textapprox630 -- \textapprox570BC);\\
    greek poet who was highly revered in antiquity;\\
    most of her work is now lost \& what survived is often fragmentary.\\
}
        

\end{center}


\newpage

\begin{minipage}[t]{0.4\textwidth}
a week each\\
day a page\\

playing\\
or not playing\\
pitches in any\\
octave\\

once\\
they appear in time\\

or (much) earlier\\
or (much) later\\

repeating\\
a tone\\
or not\\

short tones\\
long tones\\

dropping\\
or not dropping\\
their parenthesized\\
accidentals\\

\& reading \& thinking\\
\& speaking \& singing\\
poems of sappho
\end{minipage}
\begin{minipage}[t]{0.5\textwidth}
\vspace{2cm}
* = sappho translations by mary barnard\\
' = sappho translations by diane j. rayor \& andré lardinois
\end{minipage}

\newpage

\afterpage{\blankpage}

% We need an odd number of pages for the intro,
% because afterways they are always pairs!

\end{document}

