\documentclass[12pt,a4paper,british, landscape]{article}

\renewcommand*\ttdefault{cmvtt}
\renewcommand{\familydefault}{\ttdefault}

\usepackage[OT2,T1]{fontenc}
\usepackage{multicol}
\renewcommand\labelitemi{---}


\usepackage{graphicx}
\usepackage[
    paperheight=29.7cm,
    paperwidth=29.7cm,
    bindingoffset=2cm,
    left=1cm,
    right=2cm,
    top=2cm,
    bottom=1cm,
    footskip=0.5cm
]{geometry}


\frenchspacing              % Better looking spacings after periods
\pagestyle{empty}           % No pagenumbers/headers/footers

\usepackage{verse}

\usepackage{alltt}

\setlength\parindent{0pt}

{% set vdistance = 2 %}

\begin{document}

{% for poem in poem_list %}

\hspace{2cm}
\begin{minipage}[t]{0.07\textwidth}
\vspace*{ {{ vdistance }}cm}
\normalsize
{% if poem.translator.name == "BARNARD" %}*{% else %}'{% endif %}
\end{minipage}
\begin{minipage}[t]{0.7\textwidth}
\vspace*{ {{ vdistance }}cm}

{ \Huge {{ poem.name }} }


\vspace*{2cm}

{% for line in poem.line_tuple %}

{% if line %}

{ \Huge {{ line }} }\\
\vspace{0.2cm}

{% else %}

\vspace{1cm}

{% endif %}

{% endfor %}


\end{minipage}

\newpage

{% endfor %}

\end{document}

