{% from 'walkman/globals.j2' import
    channel_count,
    real_output_channel_count,
    midi_channel,
    midi_control_number_master,
    midi_control_number_instr,
    midi_control_number_sample,
    page_count
%}

{# Declare keys for our different signals #}
{% set cello                            = "cello" %}
{% set harp                             = "harp" %}
{% set glockenspiel                     = "glockenspiel" %}
{% set percussion                       = "percussion" %}
{% set master                           = "master" %}
{% set amplification                    = "amplification" %}
{% set reverb                           = "reverb" %}
{% set resonator                        = "resonator" %}
{% set sample0                          = "sample0" %}
{% set sample1                          = "sample1" %}

{% set audio_input_list                 = [cello, percussion, glockenspiel, harp] %}
{% set highpass_filter_frequency_list   = [70, 140, 210, 70] %}
{% set gate_threshold_list              = [None, -87.5, -100, None] %}
{% set midi_range_instrument            = [-48, 20] %}

{% set sample_input_list                = [sample0, sample1] %}
{% set midi_range_sample                = [-80, 0] %}
{% set sample_transport_control         = [[8, 10], [11, 13]] %}
{% set sample_input_to_path_list        = {
    sample0: [
        "etc/samples/walkman/0rusydha.wav",
        "etc/samples/walkman/0levin.wav",
        "etc/samples/walkman/0danang.wav"
    ],
    sample1: [
        "etc/samples/walkman/1hoi_an_peanut_seller.wav",
        "etc/samples/walkman/1saigon_city_noise.wav",
        "etc/samples/walkman/1loudspeaker_clicks.wav",
        "etc/samples/walkman/1hoi_an_noises.wav"
    ],
} %}

{% set midi_range_master                = [-48, 24] %}
{% set midi_range_amplification         = [-52, 12] %}
{% set midi_range_reverb                = [-48, 20] %}
{% set midi_range_resonator             = [-52, 12] %}
{% set midi_control_input_master        = [master, amplification, reverb, resonator] %}
{% set midi_range_master_list           = [midi_range_master, midi_range_amplification, midi_range_reverb, midi_range_resonator] %}

[configure]
name                    = "10.3"
logging_level           = "info"

[configure.audio]
audio                   = "jack"
midi                    = "jack"
sampling_rate           = 44100
buffer_size             = 256
channel_count           = 4

{% for audio_input in audio_input_list %}

    {% set i = loop.index - 1 %}

    [configure.module.audio_input.{{ audio_input }}]
    input_channel_index = {{ i }}
    decibel             = "midi_control_input.{{ audio_input }}"

    {% set threshold    = gate_threshold_list[i] %}
    {% if threshold != None %}
        [configure.module.gate.{{ audio_input }}]
        audio_input         = "audio_input.{{ audio_input }}"

        [configure.module.value.gate_{{ audio_input }}_child_thresh]
        value               = {{ threshold }}
    {% endif %}

    [configure.module.butterworth_highpass_filter.{{ audio_input }}]
    {% if threshold == None %}
    audio_input         = "audio_input.{{ audio_input }}"
    {% else %}
    audio_input         = "gate.{{ audio_input }}"
    {% endif %}

    [configure.module.value.butterworth_highpass_filter_{{ audio_input }}_child_frequency]
    value               = {{ highpass_filter_frequency_list[i] }}

    [configure.module.midi_control_input.{{ audio_input }}]
    midi_control_number = {{ midi_control_number_instr + i }}
    midi_channel        = {{ midi_channel }}
    # set to minima initially
    initial_value       = {{ midi_range_instrument[0] }}

    [configure.module.midi_control_input.{{ audio_input }}.default_dict]
    minima              = {{ midi_range_instrument[0] }}
    maxima              = {{ midi_range_instrument[1] }}

{% endfor %}


{% for sample_input in sample_input_list  %}

    {% set i            = loop.index - 1 %}
    {% set midi_range   = midi_range_sample %}
    {% set transport    = sample_transport_control[i] %}

    [configure.module.midi_control_input.{{ sample_input }}]
    midi_control_number = {{ midi_control_number_sample + i }}
    midi_channel        = {{ midi_channel }}
    # set to minima initially
    initial_value       = {{ midi_range[0] }}

    [configure.module.midi_control_input.{{ sample_input }}.default_dict]
    minima              = {{ midi_range [0] }}
    maxima              = {{ midi_range [1] }}

    [configure.module.midi_control_input.{{ sample_input }}_next]
    midi_control_number = {{ transport[0] }}
    midi_channel        = 4

    [configure.module.midi_control_input.{{ sample_input }}_previous]
    midi_control_number = {{ transport[1] }}
    midi_channel        = 4

    [configure.module.sound_file_player.{{ sample_input }}]
    path_list           = {{ sample_input_to_path_list[sample_input] }}
    decibel             = "midi_control_input.{{ sample_input }}"
    next_path           = "midi_control_input.{{ sample_input }}_next"
    previous_path       = "midi_control_input.{{ sample_input }}_previous"

{% endfor %}


{% for midi_input in midi_control_input_master %}

    {% set i            = loop.index - 1 %}
    {% set midi_range   = midi_range_master_list[i] %}

    [configure.module.midi_control_input.{{ midi_input }}]
    midi_control_number = {{ midi_control_number_master + i }}
    midi_channel        = {{ midi_channel }}
    # set to minima initially
    initial_value       = {{ midi_range[0] }}

    [configure.module.midi_control_input.{{ midi_input }}.default_dict]
    minima              = {{ midi_range [0] }}
    maxima              = {{ midi_range [1] }}

{% endfor %}



[configure.module.diffusion.instruments]
input_channel_count                 = {{ audio_input_list | length }}
output_channel_count                = {{ real_output_channel_count }}
# How much of the signal is constantly moving across the different speaker
pan_decibel                         = 0
# How much of the signal is always present on all speakers
base_decibel                        = -10
{% for audio_input in audio_input_list %}
    {% set i = loop.index - 1 %}
    audio_input_{{ i }}             = "butterworth_highpass_filter.{{ audio_input }}"
{% endfor %}

[configure.module.diffusion.sampler]
input_channel_count                 = {{ (sample_input_list | length) }}
output_channel_count                = {{ real_output_channel_count }}
# How much of the signal is constantly moving across the different speaker
pan_decibel                         = 0
# How much of the signal is always present on all speakers
base_decibel                        = -9
{% for sample_input in sample_input_list %}
    {% set i = loop.index - 1 %}
    audio_input_{{ i }}             = "sound_file_player.{{ sample_input }}"
{% endfor %}

[configure.module.mixer.diffusion]
audio_input_0                       = "diffusion.instruments"
audio_input_1                       = "diffusion.sampler"

[configure.module.mixer.diffusion.channel_mapping]
0 = 0
1 = 1
2 = 2

# Map input to channel (without this all goes into the first channel)
[configure.module.mixer.diffusion.default_dict.audio_input_0_channel_mapping]
0 = 0
1 = 1
2 = 2

[configure.module.mixer.diffusion.default_dict.audio_input_1_channel_mapping]
0 = 0
1 = 1
2 = 2



{% for page_index in range(page_count) %}
    {% for output_index in range(real_output_channel_count) %}
        [configure.module.resonator.{{ page_index }}_{{ output_index }}]
        audio_input                             = "mixer.diffusion"
        input_index                             = {{ output_index }}
        resonance_configuration_file_path_list  = [[1, "etc/resonators/r_{{ page_index }}_{{ output_index }}.txt"]]
        decibel                                 = "midi_control_input.{{ resonator }}"
    {% endfor %}
{% endfor %}

[configure.module.amplification.{{ amplification }}]
audio_input                         = "mixer.diffusion"
decibel                             = "midi_control_input.{{ amplification }}"

[configure.module.mixer.pre_master]
audio_input_0                       = "amplification.{{ amplification }}"

{% for page_index in range(page_count) %}
    {% for output_index in range(real_output_channel_count) %}
        {% set i                        = (page_index * real_output_channel_count) + output_index %}
        audio_input_{{ i + 1 }}         = "resonator.{{ page_index }}_{{ output_index }}"
    {% endfor %}
{% endfor %}

[configure.module.mixer.pre_master.channel_mapping]
{% for audio_input in audio_input_list %}
    {% set i                        = loop.index - 1 %}
    {{ i }}                         = {{ i }}
{% endfor %}

# Map input to channel (without this all goes into the first channel)
[configure.module.mixer.pre_master.default_dict.audio_input_0_channel_mapping]
{% for i in range(real_output_channel_count) %}
    {{ i }}                         = [{{ i }}]
{% endfor %}

{% for page_index in range(page_count) %}
    {% for output_index in range(real_output_channel_count) %}
        {% set i                        = (page_index * real_output_channel_count) + output_index %}
        [configure.module.mixer.pre_master.default_dict.audio_input_{{ i + 1 }}_channel_mapping]
        0                               = [{{ output_index }}]
    {% endfor %}
{% endfor %}

[configure.module.waveguide_reverb.pre_master]
audio_input             = "mixer.pre_master"
decibel                 = "midi_control_input.{{ reverb }}"

[configure.module.value.waveguide_reverb_pre_master_child_feedback]
value                   = 0.8

[configure.module.mixer.master]
send_to_physical_output = true
decibel                 = "midi_control_input.{{ master }}"
audio_input_0           = "mixer.pre_master"
audio_input_1           = "waveguide_reverb.pre_master"

[configure.module.mixer.master.channel_mapping]
{% for channel_index in range(audio_input_list | length) %}
    {{ channel_index }} = {{ channel_index % channel_count }}
{% endfor %}
