{# Channel count should be an even number. This is the inner processing number. #}
{% set channel_count                = 4 %}
{# This denotes how many real outputs we actually use. #}
{# Change this if your real output number changes. #}
{# If you add more than 4 output, 'channel_count' also needs to be adapted. #}
{% set real_output_channel_count    = 3 %}
{% set midi_channel                 = 1 %}
{% set midi_control_number_master   = 32 %}
{% set midi_control_number_instr    = 36 %}

{% set cello                        = "cello" %}
{% set harp                         = "harp" %}
{% set glockenspiel                 = "glockenspiel" %}
{% set percussion                   = "percussion" %}
{% set master                       = "master" %}
{% set reverb                       = "reverb" %}
{% set audio_input_list             = [cello, percussion, glockenspiel, harp] %}
{% set midi_range_instrument        = [-48, 20] %}

{% set midi_range_master            = [-48, 24] %}
{% set midi_range_reverb            = [-48, 20] %}
{% set midi_control_input_master    = [master, reverb] %}
{% set midi_range_master_list       = [midi_range_master, midi_range_reverb] %}

[configure]
name                    = "10.3"
logging_level           = "info"

[configure.audio]
audio                   = "jack"
midi                    = "jack"
sampling_rate           = 44100
buffer_size             = 512
channel_count           = 4

{% for audio_input in audio_input_list %}

    {% set i = loop.index - 1 %}

    [configure.module.audio_input.{{ audio_input }}]
    input_channel_index = {{ i }}
    decibel             = "midi_control_input.{{ audio_input }}"

    [configure.module.midi_control_input.{{ audio_input }}]
    midi_control_number = {{ midi_control_number_instr + i }}
    midi_channel        = {{ midi_channel }}

    [configure.module.midi_control_input.{{ audio_input }}.default_dict]
    minima              = {{ midi_range_instrument[0] }}
    maxima              = {{ midi_range_instrument[1] }}

{% endfor %}

{% for midi_input in midi_control_input_master  %}

    {% set i            = loop.index - 1 %}
    {% set midi_range   = midi_range_master_list[i] %}

    [configure.module.midi_control_input.{{ midi_input }}]
    midi_control_number = {{ midi_control_number_master + i }}
    midi_channel        = {{ midi_channel }}

    [configure.module.midi_control_input.{{ midi_input }}.default_dict]
    minima              = {{ midi_range [0] }}
    maxima              = {{ midi_range [1] }}

{% endfor %}

[configure.module.diffusion.instruments]
input_channel_count                 = {{ audio_input_list | length }}
output_channel_count                = {{ real_output_channel_count }}
# How much of the signal is constantly moving across the different speaker
pan_decibel                         = 0
# How much of the signal is always present on all speakers
base_decibel                        = -12
{% for audio_input in audio_input_list %}
    {% set i = loop.index - 1 %}
    audio_input_{{ i }}             = "audio_input.{{ audio_input }}"
{% endfor %}

[configure.module.mixer.pre_master]
audio_input_0                       = "diffusion.instruments"

[configure.module.mixer.pre_master.channel_mapping]
{% for audio_input in audio_input_list %}
    {% set i = loop.index - 1 %}
    {{ i }} = {{ i }}
{% endfor %}

# Map input to channel (without this all goes into the first channel)
[configure.module.mixer.pre_master.default_dict.audio_input_0_channel_mapping]
{% for i in range(real_output_channel_count) %}
    {{ i }} = [{{ i }}]
{% endfor %}

[configure.module.waveguide_reverb.pre_master]
audio_input             = "mixer.pre_master"
decibel                 = "midi_control_input.{{ reverb }}"

[configure.module.value.waveguide_reverb_pre_master_child_feedback]
value                   = 0.8

[configure.module.mixer.master]
send_to_physical_output = true
decibel                 = "midi_control_input.{{ master }}"
audio_input_0           = "mixer.pre_master"
audio_input_1           = "waveguide_reverb.pre_master"

[configure.module.mixer.master.channel_mapping]
{% for channel_index in range(audio_input_list | length) %}
    {{ channel_index }} = {{ channel_index % channel_count }}
{% endfor %}
