# Some adhoc written test cues


# Computer breaks :)
# [cue.960.string.0]
# 
# [cue.960.parameter.string_0_frequency]
# value = 960



[cue.480.string.0]
frequency = 480


[cue.300.string.0]
frequency = 300

[cue.300.audio_input.0]


[cue.240.aeolian_harp.0]
[cue.240.mixer.strings]

[cue.240.string.0]
frequency = 240



[cue.240.audio_input.0]


[cue.120.string.0]
frequency = 120

[cue.120.audio_input.0]



[cue.60.string.0]
frequency = 60

[cue.60.audio_input.0]


[cue.30.string.0]
frequency = 30

[cue.30.audio_input.0]

[cue.15.string.0]
frequency = 15

[cue.15.audio_input.0]

[cue.7.string.0]
frequency = 7.5

[cue.7.audio_input.0]

[cue.3.string.0]
frequency = 3.75

[cue.3.audio_input.0]

[cue.1.string.0]
frequency = 1.875

[cue.1.audio_input.0]



{% set tf = 200 %}


[cue.only-one.string.0]
frequency = {{ tf }}

[cue.only-two.string.1]
frequency = {{ tf }}

[cue.only-two.audio_input.0]

[cue.only-three.string.2]
frequency = {{ tf }}

[cue.only-three.audio_input.0]



[cue.three-magnets.string.0]
frequency = {{ tf }}
[cue.three-magnets.string.1]
frequency = {{ tf }}
[cue.three-magnets.string.2]
frequency = {{ tf }}

[cue.three-magnets.audio_input.0]
