# Some adhoc written test cues


{% set frequency_list = [960, 480, 300, 240, 120, 60, 30, 15, 7, 3, 1] %}

{% for i in [0, 1, 2] %}
    {% for f in frequency_list %}

        [cue.{{ i }}_{{ f }}.string.{{ i }}]
        frequency = {{ f }}
        envelope = "PLUCK_0"

        [cue.{{ i }}_{{ f }}.audio_input.0]

    {% endfor %}
{% endfor %}


{% set tf = 240 %}


[cue.only-one.string.0]
frequency = {{ tf }}

[cue.only-two.string.1]
frequency = {{ tf }}

[cue.only-two.audio_input.0]

[cue.only-three.string.2]
frequency = {{ tf }}

[cue.only-three.audio_input.0]



[cue.three-magnets.string.0]
frequency = {{ tf }}
[cue.three-magnets.string.1]
frequency = {{ tf }}
[cue.three-magnets.string.2]
frequency = {{ tf }}

[cue.three-magnets.audio_input.0]
