[cue.test_aeolian_harp.aeolian_harp.0]
play_mode   = "test"
[cue.test_aeolian_harp.audio_input.0]
[cue.test_aeolian_harp.audio_input.1]
[cue.test_aeolian_harp.audio_input.2]

[cue.aeolian_harp.aeolian_harp.0]
play_mode   = "music"
### TEST NIGHTLIGHT
# jumptime    = "2023-04-01T20:04:18"
### TEST DUSK
jumptime    = "2023-04-01T20:38:55"
