[cue.test_aeolian_harp.aeolian_harp.0]
play_mode   = "test"
[cue.test_aeolian_harp.compressor.0]
[cue.test_aeolian_harp.compressor.1]
[cue.test_aeolian_harp.compressor.2]

[cue.aeolian_harp.aeolian_harp.0]
play_mode   = "music"
jumptime    = "2023-04-30T20:52:34"
[cue.aeolian_harp.compressor.0]
[cue.aeolian_harp.compressor.1]
[cue.aeolian_harp.compressor.2]
